.content {
    padding-top: 40px;
}

#query {
    box-shadow: 5px 5px 10px 1px #aaa;
}

.text-center {
    text-align: center;
}

#info {
    overflow: auto;
}

input, label {
    float: right;
    margin-right: 20px;
}

.dablink {
    opacity: 0.4;
    margin-bottom: 15px;
}

